<p>user-list works!</p>

<!-- table -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>User List</h2>
      <!-- filter -->
      <div>
       <input
        (keyup)="onFilterPhrase($event)"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        />

      </div>
      <table class="table">
        <thead>
          <tr>  <!-- table -->
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Active</th>

          </tr>
        </thead>
        <tbody>
              <!--    table                     -->   <!-- filter        -->
          <tr *ngFor="let user of userList$ | async | filter: phrase: 'name'">
            <td>{{ user.id }}</td>        <!-- table -->
            <td>{{ user.name }}</td>      <!-- table -->
            <td>{{ user.email }}</td>     <!-- table -->
            <td>{{ user.address }}</td>   <!-- table -->
            <td>{{ user.active }}</td>    <!-- table -->
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


